# Disable directory browsing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Serve existing files/directories directly…
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # …otherwise redirect to index.php
    RewriteRule ^ index.php [L]
</IfModule>

# Make index.php the default
DirectoryIndex index.php
